html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Areas dos pontos */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar {
    border: 1px solid #aaa;
    width: 80%;
    height: 20px;
    margin: 10px;
}


.life-bar .life {
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: green;
}

.life-bar .life.danger {
    background-color: red;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 1.1rem;
}

.new-game {
    background-color: #4253af;
}

.attack {
    background-color: #e51c23;
}

.especial-attack {
    background-color: #ff9800;
    color: black;
}

.heal {
    background-color: #259b24;
}

.give-up {
    background-color: #bbb;
    color: black;
}

/*logs*/
.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.player {
    background-color: #4253afaa;
    color: #fff
}
.monster {
    background-color: #e51c23aa;
    color: #fff
}

